<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title><%=title%></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
   <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <link rel="stylesheet" href="/stylesheets/adminstyle.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  
<%- include('admin/partials/signIn') %>
<%- include('partials/footer') %>

    

  

  <script src=""></script>

</body>

</html>