<div class="clear"></div>
<div class="login-container">
    <div class="login-form-container">
        <div class="shop_box_wrapper">
            <div class="shoping_first_row">
                <div class="icon_images">
                    <img src="/images/logo/box.png" alt="box" width="40" height="40">
                </div>
                <div class="price_div">
                    <span><%= totalQty %></span> <span class="dream_msg">produkter skickas av <strong>DreamShop.se</strong></span>	
                </div>              
            </div>
            <div class="divider-component"><hr></div>
            <div class="spacer">   
            </div>
        </div>
    </div>	
</div>
