<div class="content_empty">
    <div class="content">
            <div class="content_txt">När du handlar på DreamShop.se får du alltid fri frakt och fri retur till butik.</div>
            <div class="content_txt">Vi levererar dina varor inom 2-4 helgfria vardagar.</div>
    </div>
    <div class="tillbaka_btn">    
        <div class="login_btn">
            <button id="content_btn"><a class="register-btn" href="/">Tillbaka till startsidan</a></button>
        </div> 
    </div> 
</div>