<footer>
    <div class="footerwrapper">
        <div class="footerbox">
            <div class="footerboxtext">
                <h6>Bli medlem i DreamShop Member</h6>
                <p>På DreamShop erbjuder vi alltid riktigt bra priser på allt, toppat med den senaste designen. Registrera dig nu för att ta del av unika erbjudanden och rabatter.</p>
                <a class="footerbutton" href="">Läs mer</a>
            </div>
        </div>
     <div class="footerbox">
        <div class="footerboxtext1">
            <h6>Kontakta oss</h6>
            <li><a href="">0771-499 499</a></li>
            <li>mån-fre: 9-20 | lör-sön: 10-18</li>
            <li><a href="">Avvikande öppettider</a></li>
            <br>
            <li><a href="">Frågor och svar</a></li>
            <li><a href="">Maila oss här </a></li>
            <a href=""><i class="fa fa-facebook" style="font-size:24px"></i></a>
            <a href=""><i class="fa fa-instagram" style="font-size:24px"></i></a>
            <a href=""><i class="fa fa-youtube" style="font-size:24px"></i></a>
        </div>
     </div>
        <div class="footerbox">
            <div class="footerboxtext1">
                <h6>Snabblänkar</h6>
                <ul class="list-column">
                    <li><a href="">Våra butiker</a></li>
                    <li><a href="">Medlem</a></li>
                    <li><a href="">Köpvillkor</a></li>
                    <li><a href="">Integritetspolicy</a></li>
                    <li><a href="">DreamShop</a></li>
                    <li><a href="">Hållbarhet</a></li>
                    <li><a href="">Event & Sponsering</a></li>
                    <li><a href="">Medlemspriser</a></li>
                    <li><a href="">Storleksguide</a></li>
                    <li><a href="">Garanterat nöjd</a></li>
                </ul>
                <p>DreamShop AB 2019 60
                Stochkholm, Orgnr. 272727-1234</p>
            </div>
        </div>
    <div class="footerbox">
            <div class="footerboxtext1">
                <h6>Länkar</h6>
                <ul class="list-column">
                    <li><a href="">Karriär</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">DreamShop Konto</a></li>
                    <li><a href="">Presentkort</a></li>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">ODR</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>
                <img src="../images/logo/swish.png">
                <img src="../images/logo/visa.png">
                <img src="../images/logo/mastercard.png">
                <img src="../images/logo/collector.png">
            </div>
        </div>
    </div>
    <div class="footer_go_up"><a href="#" class="go-top" style="display: none;"><i class="fa fa-angle-up fa-2x"></i></a>
    </div>
</footer>