
<div class="wrapper">
   <div class="clear"></div>
   <div class="pay-container">
    <div class="pay-inside-container">         
        <div class="shop_box_wrapper">        
            <div class="container_shoping_title"> 
                <div class="product_text_sum">
                    <div class="total_price_sum">
                        <span class="product-grid__price"><strong>Totalsumma</strong></span>
                        <span class="total_price_num"><strong><%=totalPrice%>kr</strong></span>
                    </div>
                    <div class="total_price_sum">
                        <span class="product-grid__price"><strong>Att betala</strong>Inkl.moms</span>
                        <span class="total_price_num"><strong><%=totalPrice%>kr</strong></span>
                    </div> 
                </div>   
            </div>
            <div class="tillbaka_btn">    
                <div class="login_btn">
                    <button id="content_btn"><a class="register-btn" href="/checkout">Betala & slutför köp</a></button>
                </div> 
            </div> 
        </div> 
    </div>   
   </div>  
   <div class="clear"></div>
</div>