          
      <div id="productlisting_container">
            <%for(let i = 0; i < products.length ; i++){ %>
              <%- include('products/products', {product:products[i]}) %>
            <%}%>
      </div>
      


  
