<div class="menu">
		<ul class="menu_ul">
			<li class="menu_li"><a href="/adminHome">Home</a></li>
			<li class="menu_li"><a href="/create">Create</a></li>
			<li class="menu_li"><a href="/products">Read</a></li>
			<li class="menu_li"><a href="/update">Update</a></li>
			<li class="menu_li"><a href="">Delete</a></li>
			<li class="menu_li"><a href="/admin/logout">logout</a></li>
		</ul>		
	</div>