<div class="login-container">
<div class="clear-fix"></div>	
<div class="login-form-container">
    <div class="box-wrapper">
        <div class="login">    
            <div class="customer-type"><i class="fa fa-user"></i>  <strong>Sign in</strong></div>
        </div>				
        <div id="login-password-form">
            <form method="post" action="/admin/signIn">
                <div class="login_form">
                    <div class="email">
                        <fieldset class="fieldset">
                            <legend>E-mail</legend>
                            <input type="text" required="" placeholder="e-mail / användarnamn" name="email" value="" autocorrect="off" autocapitalize="none">
                        </fieldset>
                    </div>
                    <div class="password">
                        <fieldset class="fieldset">
                            <legend>Lösenord</legend>
                            <input required="" type="password" placeholder="******" name="password">
                        </fieldset>
                    </div>
                    <div class="login_btn">
                        <button type="submit" class="" name="signIn">Sign in</button>
                    </div>
                </div>
            </form>					
        </div>		
    </div>	
</div>
</div>