<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title><%=title%></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/adminstyle.css">

</head>

<body>
  <div class="wrapper">
<%- include('admin/partials/adminmenu') %>
<%- include('admin/partials/create_form') %>

  </div>

  <script src=""></script>

</body>

</html>